
body {
  background-color: var(--body-bgc);
  color: var(--pri-text);
  font-family: 'Roboto', 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.714; /*24px*/
}

.container {
  width: 100vw;  height: 100vh;   background-color: grey;
 }
.parent1 {
  background-color: yellow;
  width: 350px;   height: 350px;   position: absolute;   
  z-index: 100;
}
.child1 {
  background-color: orange;
  width: 50px;   height: 50px;   position: absolute;   right: -25px;
  z-index: -200;
}

.parent2 {
  background-color: cyan;
  width: 375px;   height: 400px;   position: absolute;   
  z-index: 90;
}
.child2 {
  background-color: blue;   
  width: 50px;   height: 70px;   position: absolute;   right: -25px;
  z-index: -150;
}

.parent3 {
  background-color: indigo;   width: 400px;   height: 450px;   position: absolute;
  z-index: 80;
}
.child3 { 
  background-color: red;   width: 50px;   height: 90px;   position: absolute;   right: -25px;
  z-index: -100;
}
