body {
  margin: auto;
  background-color: grey;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.father {
  display: flex;
  flex-flow: row nowrap;
  width: 800px;
  height: 400px;
  background-color: cadetblue;
  
}

.child {
  outline: 1px solid red;
  width: 200px;
  height: 100px;
  transition: flex 2000ms cubic-bezier();
 
}

.father:hover .child {
  /* flex-direction: column; */
}

.child:hover {
  flex: 0.000000001 0.00000001 400px;
}